body {
    background-color: rgb(255, 219, 225);
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: center;
    background-image: linear-gradient(rgb(230, 105, 215), rgb(195, 42, 177));
    color: transparent;
    background-clip: text;
}