body {
    background-color: rgb(255, 219, 225);
    font-family: "Raleway", sans-serif;
}

.container h3 {
    margin-bottom: 0;
}

.container p {
    margin-top: 0;
}

.principalText {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav a{ 
    color: rgb(230, 105, 215);
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
    color: rgb(195, 42, 177);
}

.principalText h1 {
    margin-bottom: 0;
}

.principalText p {
    margin-top: 0;
}

.container {
    background-color: rgb(255, 233, 236);
    border: 2px solid;
    border-color: black;
    border-radius: 20px;
    border-color: rgb(235, 176, 186);
    margin: 1%;

    /* CSS DEL TEXT DEL DIV */
    padding-left: 7px;
    padding-right: 7px;
}